<main class="flex justify-center items-center min-h-screen bg-gray-100 p-4">
  <div class="bg-white shadow-lg rounded-lg p-6 w-full max-w-lg">
    <div class="mb-4">
      <h1 class="text-3xl font-bold text-gray-800 mb-2">To-Do List</h1>
      <div class="flex gap-2">
        <input
          type="text"
          [(ngModel)]="task"
          placeholder="Enter todo"
          class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
        <button 
          (click)="addTask()" 
          class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition cursor-pointer">
          Add
        </button>
      </div>
    </div>

    <ul class="space-y-2">
      <li
        class="flex justify-between items-center bg-gray-50 p-3 rounded-md shadow-sm border"
        *ngFor="let task of taskList; trackBy: trackByTask"
      >
        <span class="text-gray-700">{{ task.id }} - {{ task.task }}</span>
        <button 
          (click)="deleteTask(task.id)"
          class="bg-red-500 text-white px-3 py-1 rounded-md hover:bg-red-600 transition cursor-pointer">
          Delete
        </button>
      </li>
    </ul>
  </div>
  <!-- <mat-slide-toggle>Toggle me!</mat-slide-toggle> -->
</main>
<router-outlet />